@import '../../style/variables.scss';

.radioQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 4vw;
    margin: 10vh auto;
    &_left{
        @extend %text-question;
        background-color: $celadon;
        border-radius: 20px;
        width: 45%;
        height: 380px;
        display: flex;
        align-items: center;
        padding: 5vh 5vw;
    }
    &_right{
        @extend %text-question;
        background-color: $celadon;
        border-radius: 20px;
        width: 45%;
        height: 380px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__btn{
        input[type=radio] {
            display: none;
        }
        label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 25px;
            user-select: none;
            padding-bottom: 8px;
        }
        label:before {
            content: "";
            width: 17px;
            height: 18px;
            position: absolute;
            left: 0;
            bottom: 40%;
            background-color: $mint;
            border-radius: 100%;
        }
         
        input[type=radio]:checked + label:before {
            background-color: $darkmouth-green;
        }
         
        label:hover:before {
            background-color: $dark-mint;
        }
         
        input[type=radio]:disabled + label:before {
            filter: grayscale(100%);
        }
    }
    @media (max-width: 1250px) {
        &_right{
            font-size: 19px;
        }
    }
    @media (max-width: 1024px) {
        flex-direction: column; 
        &_left{
            width: 80%;
            height: 150px;
        }
        &_right{
            width: 80%;
            font-size: 24px;
            height: 350px;
        }
    }
    @media (max-width: 780px) {
        &_left{
            width: 80%;
        }
        &_right{
            width: 80%;
            height: 400px;
        }
    }
    @media (max-width: 568px) {
        &_left{
            width: 90%;
            height: 130px;
        }
        &_right{
            width: 90%;
            height: 330px;
            font-size: 18px;
        }
    }
    @media (max-width: 380px) {
        &_left{
            width: 95%;
        }
        &_right{
            width: 95%;
            height: 355px;
        }
    }
}