@import '../../style/variables.scss';

.routes{
    width: 100%;
    height: 50%;
    max-height: 95vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $sea-green;
    scrollbar-gutter: stable;
    padding-top: 17vh;
    padding-bottom: 5%;
    @media (max-width: 1024px) {
        max-height: 90vh;
        padding-top: 180px;
    }
    @media (max-width: 780px) {
        padding-bottom: 8%;
    }
    @media (max-width: 568px) {
    }
    @media (max-height: 700px) {
        padding-top: 28vh;
    }
    @media (max-height: 600px) {
        padding-top: 33vh;
    }
    @media (max-height: 400px) {
        padding-top: 30vh;
    }
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: transform 0.4s;
    transition: opacity 450ms linear 250ms;
}
.fade-exit {
    transition: transform 0.4s;
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
}
.fade-enter-done{
    transition: margin-top 500ms ease-out;
}