@import '../../style/variables.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    flex-wrap: wrap;
    &__name{
        width: 50%;
    }
    &__info{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: right;
        flex-wrap: wrap;
        li{
            width: 50%;
        }
    }
}