$nyanza: #D8F3DC;
$celadon: #B7E4C7;
$dark-celadon: #95D5B2;
$mint: #74C69D;
$dark-mint: #52B788;
$sea-green: #40916C;
$darkmouth-green: #2D6A4F;
$brunswick-green: #1B4332;

$text: #112A20;
$dark-text: #081C15;
$back: #edfaef;

%h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 42px;
    @media (max-width: 568px) {
        font-size: 32px;
    }
}

%pageTitle{
    font-weight: 600; //700
    font-size: 32px;
    line-height: 23px;
    @media (max-width: 568px) {
        font-size: 25px;
    }
}

%link {
    font-weight: 500; //700
    font-size: 24px;
    line-height: 23px;
    @media (max-width: 568px) {
        font-size: 21px;
        line-height: 18px;
    }
    
    @media (max-width: 380px) {
        font-size: 18px;
    }
}

%link-order {
    font-weight: 700; //700
    font-size: 20px;
    line-height: 26px;
}

%text-question{
    font-weight: 400; //700
    font-size: 24px;
    line-height: 30px;
    @media (max-width: 568px) {
        font-size: 18px;
        line-height: 18px;
    }
}

%table-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

%table-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

%select-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

