@import '../../style/variables.scss';

.result{
    @extend %text-question;
    &__content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
        margin-bottom: 50px;
    }
    &__title{
        text-align: center;
        background-color: $celadon;
        border-radius: 20px;
        width: 45%;
        max-width: 600px;
        height: 13vh;
        padding: 4vh 3vw;
    }
    &__false{
        @extend %text-question;
        background-color: $celadon;
        border-radius: 20px;
        width: 45%;
        max-width: 600px;
        height: 30%;
        padding: 3vh 3vw;
        &_title{
            font-weight: 600;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 5px;
        }
    }
    &__btn{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 180px;
        padding: 15px;
        max-height: 100px;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        color: $darkmouth-green;
        background-color: $dark-celadon;
        border-radius: 20px;
        transition: color 400ms linear, background-color 400ms linear;
        &:hover{
            color: $dark-mint;  
            background-color: $celadon;
        }
    }
    @media (max-width: 1024px) {
        &__content{
            flex-direction: column;
        }
        &__title, &__false{
            min-width: 400px;
        }
        &__btn{
            max-width: 160px;
            font-size: 28px;
        }
    }
    @media (max-width: 568px) {
        &__btn{
            max-width: 140px;
            font-size: 24px;
        }
        &__title, &__false{
            min-width: 250px;
        }
    }
    @media (max-width: 380px) {
        &__btn{
            max-width: 120px;
            font-size: 20px;
            padding: 10px 15px;
        }
    }
    @media (max-height: 700px) {
        padding-bottom: 15%;
    }
}