@import '../../style/variables.scss';

.textBoxQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 4vw;
    margin: 10vh auto;
    &_left{
        @extend %text-question;
        background-color: $celadon;
        border-radius: 20px;
        width: 45%;
        height: 40vh;
        padding: 5vh 5vw;
    }
    &_right{
        @extend %text-question;
        background-color: $celadon;
        border-radius: 20px;
        width: 45%;
        height: 40vh;
        padding: 4vh 3vw;
        display: flex;
        flex-direction: column;
        gap: 20%;
        input {
            @extend %text-question;
            color: $brunswick-green;
            width: 30vw;
            padding: 10px;
            background: inherit;
            border: 3px dashed $sea-green;
            background-color: $nyanza;
            border-radius: 20px;
            transition: box-shadow 0.3s linear, background-color 0.3s linear;
            
            &::placeholder{
                color: $dark-mint;
            }
            &:focus, &:hover{
                border: 3px dashed $dark-mint;
                background-color: $dark-celadon;
                outline: none;
                // box-shadow: 0px 5px 7px -5px $dark-text;
            }
        }
    }
    &__code{
        padding: 3vh 3vw;
        white-space: pre-line;
    }

    @media (max-width: 1024px) {
        flex-direction: column; 
        &_left{
            width: 80%;
            height: 28vh;
        }
        &_right{
            width: 80%;
            height: 25vh;
            gap: 5vh;
        }
    }
    @media (max-width: 568px) {
        &_left{
            width: 90%;
            height: 30vh;
        }
        &_right{
            width: 90%;
            input {
                width: 50vw;
            }
        }
    }
    @media (max-width: 380px) {
        &_left{
            width: 95%;
            height: 35vh;
        }
        &_right{
            width: 95%;
            height: 20vh;
            input {
                width: 65vw;
            }
        }
    }
}